.font {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.active {
    background-color: #3B25C1;
    color: white;
}